.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.rrdbTable td {
    width: 1%;
}
.rrdbTable th {
    white-space: nowrap;
    width: 1%;
    background-color: #ECEFF9;
    color: #015596;
}

.rrlblue {
    background-color: #ECEFF9;
    color: #015596;
}

.locTable {
    width: 100%;
}

.noWrapTd {
    white-space: nowrap;
}

.locTable td:hover {
    background-color: rgba(0,0,0,.075);
}

.data-text {
    color: #050505;
}

.change-24hr {
    background-color: #99FFCC;
}

table.table.table-striped tr.change-24hr td {
    background-color:#99FFCC;
}

.change-1week {
    background-color: #FFFFCC;
}

table.table.table-striped tr.change-1week td {
    background-color:#FFFFCC;
}

.crtl-pri {
    color: red;
}
.crtl-alt {
    color: #0b0080;
}
.lcn {
    font-size: 9px;
    color: grey;
}

.rrdbh4 {
    background-color: #E8EBF7;
    border-top: 1px solid blue;
    padding: 4px;
}
.rrdbh5 {
    color: #2E3A51;
    margin-left: 9px;
    font-weight: bold;
}

.clickable-row {
    cursor: pointer;
}

.loader {
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -0.1px; /* half of the elements height */
    margin-right: -0.1px; /* half of the elements widht */
}

a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}
.tourDefault {
    min-width: 350px;
}